<template name="mainNavigationTopItemWorkload">
    <li id="navbar-learn-decks"
        class="{{#if isActiveRoute regex='home|learn'}}active{{/if}}">
        <a href="{{pathFor route='learn'}}" id="learnsets">
            {{{getNavigationName "workload"}}}
        </a>
    </li>
</template>
