<template name="cardSidebarItemEndPresentation">
        <span class="glyphicon glyphicon-log-out card-button cardHeaderItem endPresentation pressed"
              data-type="cardNavigation"
              title="{{_ "card.tooltip.endPresentation"}}"></span>
</template>
